<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISwipesCollectingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64960/SwipesCollectingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISwipesCollectingService"
                contract="SwipesCollectingServiceReference.ISwipesCollectingService"
                name="BasicHttpBinding_ISwipesCollectingService" />
        </client>
    </system.serviceModel>
</configuration>